body {
    text-align: center;
    background-color: #f0e8c5;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

.img1 {
    height: 30px width:30px
}

.img2 {
    height: 30px width:30px
}

.img3 {
    height: 30px width:30px
}

.img {
    height: 30px width:30px
}
